      #gridContainer {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:720px;
      	width: 1220px;
     /*  	background: #eaeaea url('../img/bg.png');   */
     	background-color: wheat; */
/*      	border:inset thick gray; */
      	opacity: 0.0;
      }
      #photoContainer {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:720px;
      	width: 1220px;
  /*    	background: #eaeaea url('../img/bg.png');  */
     	background-color: gray;   
/*      	border:inset thick gray;   */
      	opacity: 0.0;
      }
      
      #mainGrid {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:730px;
      	width: 1230px;
      	background: #eaeaea url('../img/bg.png');
/*      	background-color: wheat;  */
      	border:inset thick gray;
      	opacity: 1.0;
      	
      }