      html, body { 
        height: 800px; width: 1200px; margin: 0;  overflow: auto; 
      } 
      
      body{
        background-color:white; overflow:hidden; 
        font-family: "Trebuchet MS"; 
      }
      
      #header {
        background-image: url(../img/banner.jpg); background-repeat: repeat-x;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border: solid 2px #224a54;
        color:white; font-size:18pt; 
        text-align:left; font-weight:bold; height:50px;
      }
      
      #subheader {
        font-size:small;
        color:white;
        padding-left:20px;
      }

      #main {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border:solid 2px #224a54;
        -moz-border-radius: 4px;
        height: 600px;
      }
      
      /*#photo {
      	position: absolute;
      	top:  100;
    	left: 300;
      }*/      
      .mainPhoto {
    	width:750px;
      }
       
      .thumbnail {
      	width: 250px;
      }
      #photoLabel {
      	position: absolute;
      	top:  10px;
    	left: 775px;
      	width: 375px;
      	height: 150px;
      	padding:10px;    	
        border:solid 2px #224a54;      	
      	overflow: auto;      	
      }
      
      #pl_label {
      	font-size:18pt; 
      	margin-left:75px;
      	margin-top:5px;
      }
      #photoList {
      	width: 275px;
      	height: 550px;      	
      	margin: 15px;
      	padding: 5px;
      	background-color: #CCCCCC;
      	overflow: auto;
      }
      
      /*.mulc {
      	left: 800px;
      	top: 50px;
      }*/
       #markupList {
      	position: absolute;
      	top:  230px;
    	left: 775px;
      	width: 125px;
      	height: 130px;      	
 /*     	margin: 5px;  */
      	padding-left: 2em;
      	padding-top:5px;
  /*    	text-indent: 2em;  */
      	background-color: #DDFFDD;
      	overflow: auto;
      }
      #markupItem {
        left: 5px;      	
      }
      #markupForm {
      	position: absolute;
      	top:  245px;
    	left: 950px;
      	width: 210px;
      	height: 130px;
      	padding:5px;    	
        border:solid 2px #224a54;      	
      }
      #commentLabel {
      	position: absolute;
      	top:  405px;
    	left: 800px;
      	width: 300px;
      	
      }
       #commentList {
      	position: absolute;
      	top:  425px;
    	left: 775px;
      	width: 360px;
      	height: 200px;      	
      	margin: 5px;
      	padding-left: 2em;
  /*    	text-indent: 2em;  */
      	background-color: #99FF99;
      	overflow: auto;
      	border:solid 2px #224a54; 
      }
      
      #footer {
        margin: 5px;
        border: solid 2px #224a54;
        bottom : 5px;
        background-color:#ecefe4;color:#3f3f3f;
       font-size:10pt; text-align:center; height:25px;
      }
	  #surfaceElement {
        /*border:solid 2px #224a54;	  	*/	  } 
