      html, body { 
        height: 750px; 
        width: 1250px; 
     /*   margin: 0; */
        margin-right:  auto;
	  	margin-left: auto;        
      } 
      
      body{
        background-color:white; overflow:auto; 
        font-family: "Trebuchet MS";

        overflow: auto;
        box-sizing: "border-box";
      }
      
      #header {
      	position: absolute;
        top:  0px;
        left: 0px;
        padding-left:5px;
        padding-top:5px;
        background-image: url(../img/banner.jpg); 
        background-repeat: repeat-x;        
        margin: 0px;      
        width: 1245px;
        border: solid 2px #224a54;
        color:black; font-size:18pt; 
        text-align:left; 
        font-weight:bold; 
        height:50px;
        opacity: 1.0;  	  

      }
      
      #subheader {
        font-size:small;
        color:white;
        padding-left:20px;
        padding-bottom: 5px;
      }

      /*#footer {
        position: absolute;
        margin: 0px;
        border: solid 2px #224a54;
        top : 58px;
        left: 0px;
        width: 1250px;
        background-color:#ecefe4;color:#3f3f3f;
        font-size:10pt; 
        text-align:center; 
        height:35px;
      }
     
  	  #outerMain {
        position: absolute;
        top:  92px;
        left: 0px;
        margin: 0px;
        border:ridge 5px #54aa54;
        width: 1250px;
        height: 850px;  	  	
        opacity: 1.0;  	  
        background-color:#ecefe4;color:#3f3f3f;
        }
    

	  #mainWindow{
	  	width: 1250px;
	  	margin-right:  auto;
	  	margin-left: auto;
	  }
	  
	  */
	   	  
      #main {
        position: absolute;
        top:  58px; /* 94px; */
        left: 0px;
        margin: 0px;
        border:solid 2px #224a54;
        /*  background: #eaeaea url('../img/bg.png'); */
   /*   background-color: gray; */
        /*-moz-border-radius: 4px;*/
        width: 1250px;
        height: 750px;
        opacity: 1.0;
      }
      
      /*#photo {
      	position: absolute;
      	top:  100;
    	left: 300;
      }*/      
/*      .mainPhoto {
    	width:750px;
      top: 45px;
      }  */
  /* tn 250, tnl 275  */     
      .thumbnail {
      	width: 350px;
      }
      
      #pl_label {
      	font-size:18pt; 
      	position: absolute;
      	top:  10px;
    	left: 150px;
      }
      #pl_label2 {
        font-size:18pt; 
        position: absolute;
        top:  10px;
      left: 500px;
      }
      #mainGrid {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:730px;
      	width: 1230px;
    /*  	background-color: wheat;  */ 
      	border:inset thick gray;
      	opacity: 1.0;
      	
      }
      #photoList {
      	position: absolute;
      	top:  45px;
    	left: 25px;
      	
      	width: 360px;
      	height: 680px;      	
      	margin: 0px;
      	padding: 10px;
      	border:solid 2px #2f4aa4;
      	background-color: #DDEEFF;
      	overflow: auto;
      }#photoGridContainer {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:720px;
      	width: 1220px;
       	background: #eaeaea url('../img/bg.png'); 
    /* 	background-color: wheat; */
/*      	border:inset thick gray; */
      	opacity: 0.0;
      }#markupGridContainer {
      	position: absolute;
        top:  5px;
      	left: 5px;
      	height:720px;
      	width: 1220px;
      	background: #eaeaea url('../img/bg.png');
/*      	background-color: wheat;   */
/*      	border:inset thick gray;   */
      	opacity: 0.0;
      }

      
      #photoGrid {
        position: absolute;
        top:  50px;
      left: 5px;
      height:660px;
      width: 1200px; /* need an extra 20 or so pixels for scrollbar, etc    */
	/*  background-color: cornsilk;  */
	        }
      .field-id {
        width: 20px;
    }
    .field-Name {
        width: 200px;
    }
    .field-description {
      width: 460px;
    }
    .field-tname {
    	width:355px;
    }
    .dgrid-row {
    	height: 300px;
    }
    .dgimg {
    	width:350px;
    }
      #photoDescription {
      	position: absolute;
      	top:  0px;
    	left: 0px;
    	width: 420px;
    	height: 125px;

      }
      /*.mulc {
      	left: 800px;
      	top: 50px;
      }*/
     
     #markupAreaDiv {
      	position: absolute;
      	top:  10px;
    	left: 790px;
    	height: 705px;
    	width: 420px;
     	opacity:1.0;  
   	background-color: #a3F3D3;  
    /*  	border:solid 2px #2f4aa4;  */
     }
       #markUpButton {
      	position: absolute;  
      	top:  5px;
    	left: 5px;
/*      	width: 125px;
      	height: 200px;  */      	
       }
       #markupList {
      	position: absolute;
      	top:  150px;
    	left: 0px;
      	width: 163px;
      	height: 160px;      	
      	margin: 0px;
  /*    	padding-left: 2em; */
  /*    	text-indent: 2em;  */
      	background-color: #DDFFDD;
      	border:solid 2px #224a54;
      	overflow: auto;
      }
      #markupLabel{
     	position: absolute;   
      	top:  135px;
    	left: 15px;	
      }
      
      #markupItem {
        left: 0px;      	
      }
      #markupForm {
      	position: absolute;
      	top:  150px;
    	left: 215px;
      	width: 195px;
      	height: 150px;
      	padding-top:  10px;  
      	padding-left: 5px;     	
        border:solid 2px #224a54;      	
      }
      #markupFormLabel {
      	position: absolute;
      	top:  135px;
    	left: 250px;      	
      }
      #adjustButton {
      	position: absolute;
      	top:  185px;
/*    	left: 235px;      	*/
    	left: 185px;      	      	
      }
      #saveMUButton {
      	position: absolute;
      	top:  185px;
    	left: 250px;      	      	
      }
      #rotateButton{
      	position: absolute;
      	top:  185px;
    	left: 350px;      	      	      	
      }      
      #commentButton{
      	position: absolute;
      	top:  235px;
    	left: 5px;      	
      }
      #commentLabel {
      	position: absolute;
      	top:  240px;
    	left: 185px;
      }
       
       #commentForm {
      	position: absolute;
      	top:  335px;
    	left: 0px;
      	width: 395px;
      	height: 365px;      	
      	margin: 0px;
      	padding-left: 20px;

      	overflow: auto;
      	border:solid 2px #224a54; 
      }
      
      #back2Start{
      	position: absolute;  
/*      	top:  670px;  */
		bottom:10px;
    	left: 48%;
        margin: 0 auto;
        /* margin:0px; */


      }
      #surfaceElement {
      	position: absolute;
      	top:  5px;
      	left: 5px; 
	  	width:775px;
	  	height: 710px;
	  	overflow: auto;
      	background-color: black;
        opacity:1.0;
      }
      /*#photoTextArea {
      	position: absolute;
      	top:0px;
      	left:790px; 
	  	width:px;
	  	height: 740px;
	  	overflow: auto;
      	background-color: black;
        opacity:0.0;
      	
      }*/
  