      html, body { 
        height: 100%; width: 100%; margin: 0; 
      } 
      body{
        background-color:white; overflow:hidden; 
        font-family: "Trebuchet MS"; 
      }
      #header {
        background-image: url(../img/banner.jpg); background-repeat: repeat-x;
        margin: 2px;
        border: solid 4px #224a54;
        color:white; font-size:18pt; 
        text-align:left; font-weight:bold; height:50px;
      }
      #subheader {
        font-size:small;
        color:white;
        padding-left:20px;
      }

      #main {
        margin: 5px;
        border:solid 2px #224a54;
        -moz-border-radius: 4px;
      }
      .mainPhoto {
	    /*position: absolute;
      	top:  100;
    	left: 300;*/      	width:750px;
      }
      
      #mainWindow2 {
      	height:90%;
      	width: 300px;
      	background-color: #225577;
      }
      .thumbnail {
      	width: 250px;
      }
      #pl_label {
      	font-size:18pt; 
      	margin-left:50px;
      }
      #photoList {
      	width: 250px;
      	height: 90%;      	
      	margin: 10px;
      	padding: 10px;
      	overflow: auto;
      	background-color: #CCCCCC;
      }
      #footer {
        margin: 2px;
        border: solid 2px #224a54;
        background-color:#ecefe4;color:#3f3f3f;
       font-size:10pt; text-align:center; height:25px;
      }
      .dijitTabInnerDiv{
        background-color:#ecefe4;
      }
      #tabs{
        padding:5px;
      }
      
ul {
	color: #00CC33;
	text-decoration: none;

}
