<div class="${baseClass}">
	

    <div class="${baseClass}Title" data-dojo-attach-point="titleNode"> ${Name}<br />${Description}</div>
    <div class="${baseClass}markups" data-dojo-attach-point="markupNode" id="markupNodee"> </div>
    <div class="${baseClass}muButtons" data-dojo-attach-point="muButtonsNode" ><button id="mu_addButton" type="button"  ></button> </div>    

    <div class="${baseClass}muSDialog" data-dojo-attach-point="muDialogNode" id="mu_Dialog" > <div id="putItHere"></div>   </div> 
</div>