	.photoWidget {
    	/*width: 100%;
    	height:100%;
    	padding: 0px; 
    	overflow: hidden;   */ 
    	/* I hear this helps clear floats inside */
    	 /*     	border:inset thick gray;	*/	
	}
	#photoNode{
    	width: 100%;
    	height:100%;
    	/*bottom:10px;*/
    	padding: 0px;
    	margin: 0px;
    	background-color: wheat;
   	}


	.photoWidgetTitle {
		position: absolute;
		top:  5px;
		left: 760px;
//		height: 705px;
		height: 120px;
		width: 440px;
 		opacity:1.0;  
		background-color: #a3F3D3;  
		padding-top:10px;
		padding-left:10px;
		font-family: "Trebuchet MS";
		font-size:medium;
		overflow: auto;
  	border:inset thick gray;  
 }
  
  .photoWidgetmarkups {
		position: absolute;
		top:  155px;
		left: 760px;
		height: 180px;
		width: 440px;
 		opacity:1.0;  
		background-color: #a3a333;  
		
		padding-top:10px;
		padding-left:10px;
		font-family: "Trebuchet MS";
		font-size:medium;
		overflow: auto;
  		border:inset thick gray;  
 	}
 	#mu_addButton {
 	}
 	
  .photoWidgetmuButtons {
 		position: absolute;
		top:  165px;
		right: 40px;
  }   
 
  .markupWidget {
  	color:red;
  }

	#gridNode{
    	width:  300px;
    	height: 150px;
    	left: 250px;
    	top: 200px;
    	/*bottom:10px;*/
    	padding: 0px;
    	margin: 0px;
    	background-color: #35a335; 
   	}
 /*.photoWidgetmuSButtons {
		position: absolute;
		top:  140px;
		left: 1095px;
 	}*/ 	
 	
/*  .photoWidgetmuButtons {
 		padding-left: 10px;
 		padding-top: 5px;
 		position: absolute;
		top:  390px;
		left: 954px;
		height: 50px;
		width: 450px;
 		opacity:1.0;  
		background-color: #33a3a3;  
		
		font-family: "Trebuchet MS";
		font-size:medium;
		overflow: auto;
  		border:inset thick gray;;  
  } */ 
     
 	  